html {
  scroll-behavior: smooth;
}*{
    margin: 0;
    padding: 0;
    
    text-decoration: none;
}
body{
  font-weight: bold;  
}
.navbar{
    font-family: 'calibri';
    padding-right: 60px;
    padding-left: 40px;
    padding-top: 45px;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    width: 70px;
    margin-left: 65px;
 
}
li{
    list-style: none;
    display: inline-block;
}
li a{
    color: black;
    font-size: 25px;
    
    margin-right: 25px;
}
li a:hover{
    color: aqua;
}
.fa-user{
  size: 30px;
}
/* -------------------------  SLIDER ------------------------- */

.slider-container {
    max-width: 70%;
    max-height: fit-content;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300%;
  }
  
  .slider img {
    flex: 0 0 33.33%;
    height: auto;
    object-fit: contain;
  }
  
  .prev-btn,
  .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.5);
    border: none;
    color: #333;
    font-size: 24px;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 1;
  }
  
  .prev-btn {
    left: 10px;
  }
  
  .next-btn {
    right: 10px;
  }
  .section1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left:60px; 
    margin-right:60px ;
    margin-top: 40px;
   
  }
  .text_box {
    width: 100%;
    display: inline-block;
    text-align: left;
    margin-left: 60px;
  }
  .text_box h1 {
    font-size: 62px;
  }
  .text_box p {
    font-size: 25px;
  }
  .btn {
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 12px 13px;
    font-size: 18px;
    background: transparent;
    position: relative;
    cursor: pointer;
  }
  .btn:hover {
    border: 1px solid rgb(134, 240, 204);
    background: rgb(134, 240, 204);
    transition: 1s;
  }





  
  /*Review*/


  .testimonials{
    padding: 50px 0;
    background: white;
    color: #323231;
    text-align: center;
   
  }
  .inner{
  
    max-width: 80%;
    height: 100%;
    margin-left: 10%;
    overflow: hidden;
    padding: 0 20px;
    text-align: center;
    
    
  }
  .inner h1{
    font-size: 60px;
    background:  linear-gradient(to right,rgb(3, 110, 182), rgb(9, 7, 95));
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     
  }
  
  .border{
    width: 160px;
    height: 5px;
    background:  linear-gradient(to right,rgb(3, 110, 182), rgb(9, 7, 95));
    margin: 26px auto;
  }
  
  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .col{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
  }
  .testimonial{
    
    background:rgb(222, 221, 219);
    padding-top: 70px;
    height: 400px;
  }
  .testimonial img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .name{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
  }
  .stars{
    color: orange;;
    margin-bottom: 20px;
  }




  
  /*Footer*/
  footer {
    width: 100%;
  }
  
  .footer_main {
    width: 100%;
    margin-top: 50px;
    height: 300px;
    padding: 50px;
    background: white;
    display: flex;
    justify-content: space-around;
  }
  .tag {
    margin: 100px 0;
  }
  .tag .center {
    text-align: center;
  }
  .tag h1 {
    font-size: 25px;
    margin: 18px 0;
    color:rgb(12, 119, 249);
  }
  .tag a {
    display: block;
    color: black;
    text-decoration: none;
    margin: 5px 0;
  }
  .tag a i {
    padding: 0 10px;
    transition: 0.3s;
    color: rgb(14, 83, 167);
  }
  .tag a i:hover {
    color: rgb(12, 119, 249);
  }
  .links {
    display: flex;
  }
  .links a {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 2px 2px rgb(220, 219, 220);
    position: relative;
    margin: 0 5px;
    z-index: 10;
    overflow: hidden;

  }
  .links a .fa-brands {
    font-size: 15px;
    line-height: 30px;
    z-index: 10;
    position: relative;
    transition: 0.8s;
  }
  .links a:hover i {
    color: white;
    background:  linear-gradient(to right,rgb(3, 110, 182), rgb(9, 7, 95));
  }
  
  
  .tag .search_bar {
    width: 130px;
    height: 30px;
    background: rgb(175, 175, 177);
    border-radius: 25px;
  }
  .tag .search_bar input {
    width: 100px;
    padding: 2px 0;
    position: relative;
    top: 17%;
    left: 6%;
    border: none;
    background: none;
    outline: none;
    font-size: 13px;
  }
  .tag .search_bar button {
    padding: 7px 15px;
    background:  linear-gradient(to right,rgb(3, 110, 182), rgb(9, 7, 95));
    border: none;
    margin-top: 15px;
    border-radius: 25px;
    color: white;
    cursor: pointer;
  }


  .service {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .service h1 {
    font-size: 62px;
    font-weight: 600;
    color: aquamarine;
  }
  .fix_card {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  .card_cointainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 35px;
  }
  .card {
    width: 220px;
    background-color: rgb(236, 235, 233);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgb(134, 240, 204);
    margin: 20px;
  }
  .card h3 {
    color: rgb(76, 192, 238);
    font-weight: 600;
  }
  .card p {
    color: red;
  }
  .card_content {
    padding: 16px;
  }
  .card_content h3 {
    color: rgb(76, 192, 238);
    font-weight: 600;
  }
  .card_content h2 {
    font-size: 36px;
    font-weight: 600;
  }
  .card_content p {
    color: black;
  }
  .card_content .btn1 {
    display: inline-block;
    padding: 8px 16px;
    background-color: transparent;
    border: 1px solid rgb(30, 44, 8);
    border-radius: 4px;
    margin-top: 16px;
    color: rgb(120, 163, 51);
    text-decoration: none;
  }
  .orderbox {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 25px;
    font-size: 35px;
  }
  .orderbox .btn2 {
    display: inline-block;
    padding: 8px 16px;
    background-color: transparent;
    border: 1px solid rgb(136, 207, 21);
    border-radius: 4px;
    margin-top: 16px;
    color: rgb(15, 109, 15);
    text-decoration: none;
  }

  .about{
    margin-top: 90px;
    margin-left: 350px;
    margin-right: 350px;
    background: whitesmoke;
  }
  .about p{
    font-weight: 800;
  }
  


  /* About */

  .customer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .customer img {
    max-width: 45%;
    height: auto;
  }